<!DOCTYPE HTML>
<html ng-app="phantom">

<head>
    <title>Phantom JS tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="PhantomController as phantomCtrl">
<div id="pluswrap" ng-if="phantomCtrl.isLoading">
    <div class="plus">
        Loading...
    </div>
</div>
<div class="main-panel panel panel-primary">
    <div class="panel-heading">Phantom JS tool</div>
    <div class="panel-body">
        <label for="text" class="control-label">URLs to Process</label>
        <div>
            <textarea class="main-text" placeholder="Put your text here" ng-model="phantomCtrl.phantomModel.text"></textarea>
        </div>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-warning" ng-click="phantomCtrl.payload()">Process</button>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-if="phantomCtrl.payloadModel.length > 0">
        <label for="results" class="control-label">Results {{phantomCtrl.totalTime}}</label>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in phantomCtrl.payloadModel track by $index">
                <span ng-if="item.error == undefined">
                    <a href="/downloads/{{item.link}}" target="_blank" >{{item.url}}</a> <span class="green"> [{{item.time}}]</span>
                </span>
                <span ng-if="item.error != undefined">{{item.url}}   <span class="green"> [{{item.time}}]</span>  <span class="red"> {{item.error}}</span></span>
            </li>
        </ul>
    </div>
</div>

<!-- // <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>
</body>

</html>
